name: Ruby

on:
  push:
    branches:
      - master

  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }}
    strategy:
      matrix:
        ruby:
          - '3.1.0'

    steps:
    - uses: actions/checkout@v3
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: Run the default task
      run: bundle exec rake

    - name: Upload coverage
      run: |
        ruby -e "$(curl -s https://undercover-ci.com/uploader.rb)" -- \
          --repo $GITHUB_REPOSITORY \
          --commit ${{ github.event.pull_request.head.sha }} \
          --lcov coverage/lcov/undercoverci_demo_ruby.lcov

    - name: Setup upterm session
      uses: lhotari/action-upterm@v1
      with:
        limit-access-to-actor: true
